
body {
      background:rgba(0, 0, 0, 0.0004) url("image2.jpg" )  ;
      background-size: cover;
      background-attachment: fixed;
      opacity: 0.85;
      height: 100%; 
      top: 0.2vh;
      left: 0;
      bottom: 0;
      right: 0;
  
      z-index: -1;
    }
    
    .jumbotron {
      background-color: rgba(255, 255, 255, 0.75);
     top:10vh;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    
    .jumbotron h1 {
      font-weight: bold;
      font-size: 3.5rem;
      color: #060101;
    }
    
    .jumbotron p {
      font-size: 1.5rem;
      color: #0a0a0a;
    }
    
    
    #home{
    top:2vh;
    }